@use './SingleStylingFiles/reset' as *;
@use './SingleStylingFiles/variables&mixins' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn{
    padding: 12px 36px;
    border-radius: 40px;
    color: white;
}

.btn.blue-btn{
    @include bg-blue-btn;

    &:hover{
        box-shadow: 5px 5px 15px rgba(6,156,202,1),
                    -5px -5px 15px rgba(30,66,133,1);
    }
}

.btn.primary-btn{
    @include bg-primary-btn;

    &:hover{
        box-shadow: 5px 5px 15px rgba(248,99,110,1),
                    -5px -5px 15px rgba(182,36,110,1);
    }
}

.btn.light-btn{
    background-color: white;
    color: black;

    &:hover{
        box-shadow: 5px 5px 15px rgb(212, 211, 211),
                    -5px -5px 15px rgb(241, 241, 241);
    }
}
